---
import Layout from "../layouts/Base.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import formatDate from "../scripts/date.js";
import IDomParser from "advanced-html-parser";

export async function getStaticPaths() {
  const posts = await Astro.glob('./posts/*.md');

  return posts.map(post => {
    return {
        params: {post: post.frontmatter.title},
        props: {post} 
    }
  })
}

const { title } = Astro.params;
const { post } = Astro.props;


const date = new Date(post.frontmatter.pubDate);
---
<Layout>
	<Breadcrumbs />
	<h1>{post.frontmatter.title}</h1>
	<p>
		{formatDate.USADate(date)}
		<span class="tags">
			{post.frontmatter.tags.map(tag => ` #${tag}`)}
		</span>
	</p>
	<article>{IDomParser.parse(post.compiledContent())}</article>
</Layout>
