---
import Base from "../layouts/Base.astro";
import formatDate from "../utils/scripts/date.js";
import IDomParser from "advanced-html-parser";

export async function getStaticPaths() {
  const posts = await Astro.glob('./posts/**/*.md');

  return posts.map(post => {
    // console.log(post.frontmatter.title);
    return {
      params: {post: post.frontmatter.title},
      props: {post}
    }
  })
}

console.log(Astro.url);
const { post: title } = Astro.params;
const { post } = Astro.props;


const date = new Date(post.frontmatter.pubDate);
---
<style>
  img {
    width: 50%;
  }
</style>

<Base>
	<h1>{title}</h1>
	<p>
		{formatDate.USADate(date)}
		<span class="tags">
			{post.frontmatter.tags.map(tag => ` #${tag}`)}
		</span>
	</p>
	<img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>
	<article>{IDomParser.parse(post.compiledContent())}</article>
</Base>
