---
import { searchButtonLabel } from "../utils/constants";
import SearchSection from "../components/SearchSection.astro";
import Logo from "./Logo.astro";

---
<style>
  nav, ul {
    display: flex;
    align-items: center;
  }

  nav {
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 -4px 16px black;
  }

  ul {
    justify-content: space-between;
    width: 94%;
    padding-left: 50%;
  }

  a, button {
    display: block;
    line-height: 0;
    color: transparent;
    background-color: transparent;
    border: none;
  }

  /* main logo */
  nav > a {
    position: absolute;
    background-color: var(--secondary-highlight-color);
    align-self: stretch;
    width: 60px;
  }

  /* navigation items */
  li > button {
    width: 30px;
    height: 30px;
    background-image: url("icons/nav/white/search-white.png");
    background-size: cover;
  }

  /* navigation icons */
  li:nth-of-type(1) > a {
    background-image: url("icons/nav/white/archive-white.png");
    width: 29px;
    height: 24px;
  }

  li:nth-of-type(2) > a {
    background-image: url("icons/nav/white/gallery-white.png");
    width: 26px;
    height: 26px;
  }

  li:nth-of-type(3) > a {
    background-image: url("icons/nav/white/bio-white.png");
    width: 30px;
    height: 30px;
  }

  li:nth-of-type(4) > button {
    background-image: url("icons/nav/white/search-white.png");
    width: 25px;
    height: 26px;
  }

  @media screen and (min-width: 768px) {
    li:nth-of-type(1) > a,
    li:nth-of-type(2) > a,
    li:nth-of-type(3) > a {
      background-image: none;
    }

    nav {
      position: revert;
      box-shadow: revert;
      width: auto;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      background-color: revert;
      flex-direction: column;
      margin: 0 3em;
    }

    ul {
      background-color: var(--secondary-color);
      width: 100%;
      padding: 1em;
      justify-content: start;
      grid-column: span 3;
      gap: 5em;
    }

    a {
      display: revert;
      line-height: revert;
      color: white;
      background-color: transparent;
      border: none;
      text-decoration: none;
    }

    #logo {
      position: relative;
      align-self: flex-start;
      color: black;
      font-size: 3em;
      font-weight: 700;
      padding: 15px 0px;
      width: 120px;
      text-align: start;
      background-color: revert;
    }

    a::before {
      vertical-align: middle;
      margin-right: 8px;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    li:nth-of-type(1) > a::before {
      content: url("icons/nav/white/archive-white.png");
    }

    li:nth-of-type(2) > a::before {
      content: url("icons/nav/white/gallery-white.png");
    }

    li:nth-of-type(3) > a::before {
      content: url("icons/nav/white/bio-white.png");
    }

    button#search {display: none;}
  }
</style>

<nav>
  <a id="logo" href={import.meta.env.BASE_URL}><Logo /></a>
  <SearchSection />
  <ul>
    <li><a href={`${import.meta.env.BASE_URL}posts`}>Archive</a></li>
    <li><a href={`${import.meta.env.BASE_URL}gallery`}>Images</a></li>
    <li><a href={`${import.meta.env.BASE_URL}about`}>About</a></li>
    <li><button id="search">{searchButtonLabel}</button></li>
  </ul>
</nav>
