---
import { searchButtonLabel } from "../utils/constants";
const iconFiles = await Astro.glob("../../public/icons/nav/white/*.png");

const icons = {
  archiveIcon: `url(${iconFiles[0].default.src})`,
  bioIcon: `url(${iconFiles[1].default.src})`,
  galleryIcon: `url(${iconFiles[2].default.src})`,
  searchIcon: `url(${iconFiles[3].default.src})`,
};
---
<style define:vars={icons}>
  nav, ul {
    display: flex;
    align-items: center;
  }

  nav {
    background-color: var(--secondary-color);
    align-items: center;
  }

  ul {
    justify-content: space-between;
    width: 65%;
  }

  a, button {
    display: block;
    line-height: 0;
    color: transparent;
    background-color: transparent;
    border: none;
  }

  /* main logo */
  nav > a {
    text-align: center;
    background-color: var(--secondary-highlight-color);
    position: revert;
    width: 20%;
    padding: 1em;
  }

  /* navigation items */
  li > button {
    width: 30px;
    height: 30px;
    background-image: var(--searchIcon);
    background-size: cover;
  }

  /* navigation icons */
  li:nth-of-type(1) > a {
    background-image: var(--archiveIcon);
    width: 29px;
    height: 24px;
  }

  li:nth-of-type(2) > a {
    background-image: var(--galleryIcon);
    width: 26px;
    height: 26px;
  }

  li:nth-of-type(3) > a {
    background-image: var(--bioIcon);
    width: 26px;
    height: 30px;
  }

  li:nth-of-type(4) > button {
    background-image: var(--searchIcon);
    width: 25px;
    height: 26px;
  }

  @media screen and (min-width: 768px) {
    li:nth-of-type(1) > a,
    li:nth-of-type(2) > a,
    li:nth-of-type(3) > a {
      background-image: none;
    }

    nav {
      background-color: revert;
      flex-direction: column;
      margin: 0 3em;
    }

    ul {
      background-color: var(--secondary-color);
      width: 100%;
      padding: 1em;
    }

    a {
      display: revert;
      line-height: revert;
      color: white;
      background-color: transparent;
      border: none;
      text-decoration: none;
    }

    #logo {
      display: flex;
      gap: 8px;
      align-self: flex-start;
      color: black;
      font-size: 3em;
      font-weight: 700;
      padding: 10px;
      width: revert;
      text-align: start;
      background-color: revert;
    }

    a::before {
      vertical-align: middle;
      margin-right: 8px;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    li:nth-of-type(1) > a::before {
      content: var(--archiveIcon);
    }

    li:nth-of-type(2) > a::before {
      content: var(--galleryIcon);
    }

    li:nth-of-type(3) > a::before {
      content: var(--bioIcon);
    }
  }
</style>

<nav>
  <a id="logo" href={`${import.meta.env.BASE_URL}`}>
    <img src={`${import.meta.env.BASE_URL}/logo-small.png`} alt="logo" />
    Hello World!
  </a>
  <ul>
    <li><a href={`${import.meta.env.BASE_URL}/posts`}>All posts</a></li>
    <li><a href={`${import.meta.env.BASE_URL}/gallery`}>Images</a></li>
    <li><a href={`${import.meta.env.BASE_URL}/about`}>About</a></li>
    <li><button id="search">{searchButtonLabel}</button></li>
  </ul>
</nav>
