---
import { searchButtonLabel } from "../utils/constants";
---

<style></style>

<nav>
  <a href={`${import.meta.env.BASE_URL}`}><img src="logo-small.png" alt="logo" /></a>
  <ul>
    <li>
      <a href={`${import.meta.env.BASE_URL}/posts`}>
        All posts
        <!-- <img title="All posts" src="/icons/archive.png" /> -->
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}/gallery`}>
        Images
        <!-- <img title="some images" src="/icons/gallery.png" /> -->
      </a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}/about`}>
        About
        <!-- <img title="about me" src="/icons/bio.png" /> -->
      </a>
    </li>
    <li>
      <button id="search">
        {searchButtonLabel}
        <!-- <img title="search" src="/icons/search.png" /> -->
      </button>
    </li>
  </ul>
</nav>
