---
import dateUtils from "../utils/scripts/date";
const { title, date, tags, image, description } = Astro.props;
const year = new Date(date).getFullYear();
const month = dateUtils.monthNames[new Date(date).getMonth()];
---

<article>
  <h1>{title}</h1>
  <p>
    {date}
    <span class="tags">
      {tags.map((tag) => ` #${tag}`)}
    </span>
  </p>
  {image && <img src={image} alt="poster" width="100%" />}
  <p id="description">{description}</p>
</article>

<a
  href={`${import.meta.env.BASE_URL}/posts/${year}/${month}/${title}`}
  class="preview-link"
  data-path={title}>read article</a
>
