---
import IDomParser from "advanced-html-parser";
const { title, date, tags, image, description, preview } = Astro.props;
---
<style>

</style>

<article>
    <h1>{ title }</h1>
    <p>{date} 
    <span class="tags">
        {tags.map(tag => ` #${tag}`)}
    </span></p>
    <img src={image} alt="poster" width="100%">
    <p id="description">{description}</p>
    <hr>
    <main>{IDomParser.parse(preview)}</main>
    <a href=`/${title}`>read article</a>
</article>