---
import Base from "../../../../layouts/Base.astro";
import dateUtils from "../../../../utils/scripts/date"
import IDomParser from "advanced-html-parser";

export async function getStaticPaths() {
  const posts = await Astro.glob('../../../../articles/*.md');

  return posts.map(post => {

    return {
      params: {
        year: new Date(post.frontmatter.pubDate).getFullYear(),
        month: dateUtils.monthNames[new Date(post.frontmatter.pubDate).getMonth()],
        post: post.frontmatter.title
      },
      props: {post}
    }
  })
}


const { post: title } = Astro.params;
const { post } = Astro.props;


const date = new Date(post.frontmatter.pubDate);
---
<style>
  img {
    width: 100%;
  }

  article {
    background-color: var(--post-color);
    padding: 1em 2em;
    margin: 1em 0;
    min-height: calc(100svh - 72px);
  }

  h1 {
    font-size: 1.7em;
    margin: 0 0 1em 0;
  }

  /* 1st p = date and tags string */
  p:nth-of-type(1) {
    color: var(--tertiary-color);
  }

  span {
    font-weight: bold;
  }

  /* description */
  p:nth-of-type(2) {
    color: var(--secondary-color);
    font-style: italic;
    font-weight: 200;
    margin-left: 4px;
    margin-bottom: 4em;
  }

  hr {
    border: solid 1px black;
    width: 30%;
  }
</style>

<Base>
<article>
	<h1>{title}</h1>
	<p>
		{dateUtils.USADate(date)}
		<span class="tags">
			{post.frontmatter.tags.map(tag => ` #${tag}`)}
		</span>
	</p>
	{post.frontmatter.image && <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>}
	<p>{post.frontmatter.description}</p>
	<hr>
	<p>{IDomParser.parse(post.compiledContent())}</p>
</article>
</Base>
