---
import Base from "../../../../layouts/Base.astro";
import formatDate from "../../../../utils/scripts/date.js";
import dateUtils from "../../../../utils/scripts/date"
import IDomParser from "advanced-html-parser";

export async function getStaticPaths() {
  const posts = await Astro.glob('../../../../articles/*.md');

  return posts.map(post => {

    return {
      params: {
        year: new Date(post.frontmatter.pubDate).getFullYear(),
        month: dateUtils.monthNames[new Date(post.frontmatter.pubDate).getMonth()],
        post: post.frontmatter.title
      },
      props: {post}
    }
  })
}


const { post: title } = Astro.params;
const { post } = Astro.props;


const date = new Date(post.frontmatter.pubDate);
---
<style>
  img {
    width: 50%;
  }
</style>

<Base>
	<h1>{title}</h1>
	<p>
		{formatDate.USADate(date)}
		<span class="tags">
			{post.frontmatter.tags.map(tag => ` #${tag}`)}
		</span>
	</p>
	{post.frontmatter.image && <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>}
	<article>{IDomParser.parse(post.compiledContent())}</article>
</Base>
