---
import formatDate from "../utils/scripts/date"
import Base from "./Base.astro";
import MainSection from "./MainSection.astro";
const { frontmatter } = Astro.props
---
<Base>
	<MainSection title={frontmatter.title}>
  	<p>
  		{formatDate.USADate(new Date(frontmatter.pubDate))}
  		{frontmatter.tags && <span class="tags">
  			{frontmatter.tags.map(tag => ` #${tag}`)}
  		</span>}
  	</p>
  	{frontmatter.img
      && <img
        src={frontmatter.image.url}
        alt={frontmatter.image.alt} width="100%"
      >}
    <p>{frontmatter.description}</p>
    <hr>
  	<slot />
	</MainSection>
</Base>
