---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate);
const monthNames = [
	'january',
	'february',
	'march',
	'april',
	'may',
	'june',
	'july',
	'august',
	'september',
	'october',
	'november',
	'december'
];

//might use non-capitalized for D/M/Y format
const monthCapitalized = 
	monthNames[date.getMonth()][0].toUpperCase() +
	monthNames[date.getMonth()].substring(1);

const USADate = `${monthCapitalized} ${date.getDate()}, ${date.getFullYear()}`;	

const path = Astro.url.pathname.split('/');
console.log(path)
---
<Base>
	<p>{path.map(p => <a href="../">{p} > </a>)} {frontmatter.title.substring(0, 20)} ...</p>
	<h1>{frontmatter.title}</h1>
	<p>
		{USADate}<span class="tags">{frontmatter.tags.map(tag => ` #${tag}`)}</span>
	</p>
	<slot />
</Base>
		


