---
//@ts-nocheck
import Base from "../../../layouts/Base.astro";
import MainSection from "../../../layouts/MainSection.astro";
import dateUtils from "../../../utils/scripts/date"

export async function getStaticPaths() {
  const posts = await Astro.glob(`../../../articles/*.md`);

  return posts.map(post => {
    return {
      params: {year: new Date(post.frontmatter.pubDate).getFullYear()},
      props: {posts}
    }
  });
};

const { posts } = Astro.props;
const currentYear = parseInt(Astro.params.year);

const currentYearPosts = posts.filter(post =>
  new Date(post.frontmatter.pubDate).getFullYear() == currentYear
);

let postsByMonth = currentYearPosts.reduce((groupedPosts, { frontmatter }) => {
  let month = new Date(frontmatter.pubDate).getMonth();
  month = dateUtils.monthNames[month];
  (groupedPosts[month] ??= []).push(frontmatter.title);
  return groupedPosts;
}, {});

postsByMonth = Object.entries(postsByMonth);
---
<style>
  li {
    list-style: disc;
    margin-bottom: .2em;
  }

  a {
    color: var(--tertiary-color);
    font-weight: bold;
  }
</style>

<!-- highlight current page icon -->
<style is:global>
  nav li:nth-of-type(1) > a {
    background-image: url("../../../public/icons/nav/highlight/archive-highlight.png") !important;
  }

  @media screen and (min-width: 768px) {
    nav li:nth-of-type(1) > a {
      background-image: none !important;
      color: var(--post-color);
    }

    nav li:nth-of-type(1) > a::before {
      content: url("../../../public/icons/nav/highlight/archive-highlight.png") !important;
    }
  }
</style>

<Base>
  <MainSection title="Archive">
    <section id="post-months">
      <ul>
        {postsByMonth.map(([month, titles], i) =>
          <li>
            <h2>{month}</h2>
            <ul>
              {titles.map(title =>
                <li>
                  <a href={`${import.meta.env.BASE_URL}/posts/${currentYear}/${month}/${title}`}>
                    {title}
                  </a>
                </li>
              )}
            </ul>
          </li>
        )}
      </ul>
    </section>
  </MainSection>
</Base>
